<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Application Denied</title>
    <style>
      body{ font-family:Arial, Helvetica, sans-serif}
      .emailLogo {
        height: 40px;
        max-height: 40px;
        width: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Dear {{name}},</h1>
      <p>Unfortunately at this time we are unable to approve your request to finance your home improvement project. For further details regarding this decision, please log into your account portal at (TGUC hotlink) at your earliest convenience.</p>
      <p>Thank you,</p>
      <p>TGUC Financial</p>
      <p>
        <img class="emailLogo" src="{{baseUrl}}/images/Logo.png" alt="tgucfinancial">
      </p>
    </div>
  </body>
</html>
